.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-date {
  justify-content: space-around;
  width: 7.5em;
  height: 6em;
  color: var(--color-clear);
  background-image: linear-gradient(to top, var(--color-secondary) 10%, var(--color-primary) 110%);
  border-radius: var(--border-radius);
  transition: all var(--transition-time) ease;

  &--active {
    transform: translateY(var(--translateY));
    box-shadow: var(--box-shadow-hover);
  }

  &--disabled {
    border-style: dashed;
    filter: opacity(50%);
  }

  &__day {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  &__day-month {
    font-size: 1.4em;
    padding-top: 0.2em;
  }

  &__hs {
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 0.5px;
  }

  &:hover {
    transform: translateY(var(--translateY));
    box-shadow: var(--box-shadow-hover);
  }
}
