.user-flex {
  display: flex;
  flex-direction: column;
}
.main__content_user {
  display: flex;
  padding: var(--box-padding);
}

.user_data_container {
  width: 25%;
  padding: 0 1em;
  padding-top: 3em;
}

.tx-aling-center {
  text-align: center;
}
.user_profile_photo {
  margin-left: auto; /* Mueve el objeto hacia la derecha */
  margin-right: auto;
}

.user_display_container {
  width: 75%;
}

.input_container {
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
}

.field:disabled {
  opacity: 50%;
}

.user_profile_photo {
  width: 15rem;
  height: 15rem;
}

.content_container {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.ticket-content {
  padding: 0%;
  justify-content: space-evenly;
}
.selection_panel .MuiToggleButton-root {
  border: none;
  background-color: transparent;
  border-radius: var(--border-radius-md);
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  font-weight: bolder;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected:hover {
  background-color: transparent;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: transparent;
}

.selection_panel.MuiToggleButton-root:hover {
  font-weight: bolder;
}

main {
  max-height: 80vh; /* Establece la altura máxima como el 100% de la altura de la ventana visible */
}
