.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--element-height);

  font-family: var(--typeface-secondary);
  font-size: 1.2em;
  cursor: pointer;

  border: 1px solid;

  &--rounded {
    border-radius: var(--border-radius-sm);
  }

  &--primary {
    color: var(--color-clear);
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
  }

  &--circle {
    width: 1.2em;
    height: 1.2em;
    font-size: 3.5em;
    color: var(--color-clear);
    border: unset;
    background-color: var(--color-highligthed);
    border-radius: 50%;
  }

  &--animated {
    transition: color var(--transition-time) ease;
  }

  &.button--animated:hover {
    background-color: var(--color-secondary);
  }

  &__small {
    width: 5em;
  }

  &__secondary {
    color: initial;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-clear);

    &:hover {
      color: var(--color-clear);
      background-color: var(--color-secondary);
    }
  }

  &--tall {
    height: 4.2rem;
  }

  transition:
    color var(--transition-time) ease,
    background-color var(--transition-time) ease;
}
