.shadow {
  filter: drop-shadow(0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3));

  &--large {
    filter: drop-shadow(0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.3));
  }

  &--item {
    filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3));
  }

  &--box {
    filter: unset;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
  }

  &--line {
    filter: unset;
    box-shadow: 0 1em 0.6em -1em rgba(0, 0, 0, 0.2);
  }

  &--big {
    filter: unset;
    box-shadow: var(--box-shadow-hover);
  }
}
