.title {
  font-size: 2.8em;
  font-weight: 600;
}
.subtitle {
  font-weight: 600;
  font-size: 2em;
}
.subtitle2 {
  font-weight: 400;
  font-size: 1.5em;
}
.body {
  font-weight: 400;
  font-size: 1.1em;
}
