.comment {
  min-width: 20em;
  height: fit-content;

  .comment__header {
    justify-content: space-between;
    padding-bottom: 0.5em;
    .comment__description {
      gap: 1em;
    }
    .comment__img-container {
      height: 5em;
      width: 5em;
      overflow: hidden;
      border-radius: 50%;
    }
    .comment__img {
      height: 100%;
    }
    .comment__state {
      gap: 1em;
    }
    .comment__rating {
      gap: 0.3em;
    }
  }
  .button-trash {
    cursor: pointer;
  }
}
