.user_data {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.user_profile_photo {
  width: 15rem;
  height: 15rem;
  margin-left: auto; /* Mueve el objeto hacia la derecha */
  margin-right: auto;
}

.input_container {
  margin: 0.5em 0em;
  display: flex;
  flex-direction: column;
}

.field:disabled {
  opacity: 50%;
}

.tx-aling-center {
  text-align: center;
}

.user_data_container {
  width: 25%;
  padding: 1em;
  justify-content: space-between;
}

.field--large {
  max-width: 25vw;
}
