.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  min-width: 30%;
  width: -webkit-fill-available;
  padding: 1em;
}

.MuiRating-root.MuiRating-sizeMedium.css-1qqgbpl-MuiRating-root {
  margin: 0.5em 0em;
}

.subtitle2 {
  text-align: center;
  margin: 1em;
}

.rating_container {
  margin: 1em 0em;
}
