@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800;900&family=Roboto:wght@300;400;500;600;700;900&display=swap');
@import url('./styles/typography.scss');
@import url('./styles/layout.scss');
@import url('./styles/shadow.scss');
@import url('./styles/icon.scss');
@import url('./styles/button.scss');
@import url('./styles/input.scss');
@import url('./styles/centered.scss');

:root {
  /* Default Heights*/
  --header-height: 8rem;
  --search-height: 5rem;
  --footer-height: 5rem;
  --element-height: 2.8rem;

  /* Colors */
  --color-primary-background: hsla(344,100%,97%,1);
  --color-primary-lighter: hsla(344, 65%, 85%, 1);
  --color-primary: hsla(344, 90%, 39%, 1);
  --color-primary-darker: hsla(344, 66%, 25%, 1);
  --color-secondary-lighter: hsla(224, 72%, 70%, 1);
  --color-secondary: hsla(224, 72%, 46%, 1);
  --color-secondary-darker: hsla(224, 72%, 34%, 1);
  
  /* Poin of Interest Color */
  --color-focus: hsla(32, 100%, 50%, 1);  
  --color-hot: hsla(0, 80%, 50%, 1);
  
  /* Brigth Colors */
  --color-white: hsla(0, 0%, 99%, 1);
  --color-white-variant: hsla(0, 0%, 96%, 1);
  
  /* Text & Typeface */
  --text-color-lighter: hsla(344, 70%, 22%, 1);
  --text-color: hsla(344, 90%, 10%, 1);
  --text-color-medium: hsla(344, 80%, 15%, 1);
  
  /* Card Background Color */
  --gradient-primary: linear-gradient(to right, var(--color-primary) 20%, var(--color-secondary-darker) 80%);
  --card-bg-gradient: linear-gradient(to top, var(--color-clear) 15%, rgba(0, 0, 0, 0.05));
  --user-info-background: linear-gradient(to bottom, var(--color-clear-medium), var(--color-clear));
  /* Fonts */
  --typeface-primary: 'Mulish', 'Open Sans', 'Verdana', 'sans-serif';
  --typeface-secondary: 'Roboto', 'Open Sans', 'Verdana', 'sans-serif';
  
  /* Border Radius */
  --border-radius-sm: 0.3rem;
  --border-radius: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-xl: 1.5rem;   
    
  /* Padding */  
  --padding-xs: 0.8rem;
  --padding: 1.6rem;
  
  /* Animations */
  --transition-fast: 0.5s;
  --transition-slow: 1s;
  --translateY: -8%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: var(--typeface-primary);
  font-style: normal;
  font-size: 10px;
  color: var(--text-color);
}

/* Font Awesome special css */
.fa-lp {
  padding-left: 0.15em;
}

.fa-rp {
  padding-right: 0.4em;
}

.fa--hot {
  color: var(--color-hot);
}

.fas--highlighted {
  color: var(--color-focus);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  margin: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}
